{% extends "layout.html" %}

{% block title %}
    Nick's Book Review Repository - Homepage
{% endblock %}

{% block body %}
    {% if username %}
        <p align="right">
            foo
        </p>
    {% else %}
        <p align="right">
            <a href="{{ url_for('register') }}"> Register </a>
            /
            <a href="{{ url_for('login') }}"> Login </a>
            </p>
    {% endif %}
    <h1 align="center"><a href="{{ url_for('index') }}"> Nick's Book Review Repository </a></h1>
    <h1 align="center"> Welcome! </h1>
    <img src="{{ url_for('static', filename='Icono_Normativa.png') }}" class="center-block" style="width:20%">
    <h2> Book Search </h2>
    <h4>
        Enter in text in at least one of the following to search for a book.
    </h4>
    <form action="{{ url_for('search_results') }}" method="POST">
        <div class="form-group">
            <label for="title"> Title </label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Book Title">
        </div>
        <div class="form-group">
            <label for="author"> Author </label>
            <input type="text" class="form-control" id="author" name="author" placeholder="Book Author">
        </div>
        <div class="form-group">
            <label for="isbn"> ISBN </label>
            <input type="text" class="form-control" id="isbn" name="isbn" placeholder="Book ISBN">
        </div>
        <button type="submit" class="btn btn-primary"> Submit </button>
    </form>
{% endblock %}